      <!-- end : Content -->
      <tr>
        <td>
            <table width="600" height="70" border="0" cellpadding="0" cellspacing="0" bgcolor="#000000">
            <tr>
              <td>
                <a href="http://www.theartofshaving.com/shaving-products/shaving-products,default,sc.html?ref=NA&amp;utm_campaign=$campaignname()$&amp;utm_content=NA&amp;utm_source=TAOSeMail&amp;utm_medium=Email&amp;cm_mmc=TAOSeMail-_-$campaignname()$-_-NA-_-FooterNavShaving" rilt="FooterNavShaving"><img style="display: block;" src="images/shavingproducts.jpg" width="159" height="70" border="0" alt="Shaving Products"></a></td>
              <td>
                <a href="http://www.theartofshaving.com/shaving-brushes/shaving-brushes,default,sc.html?ref=NA&amp;utm_campaign=$campaignname()$&amp;utm_content=NA&amp;utm_source=TAOSeMail&amp;utm_medium=Email&amp;cm_mmc=TAOSeMail-_-$campaignname()$-_-NA-_-FooterNavBrushes" rilt="FooterNavBrushes"><img style="display: block;" src="images/brushes.jpg" width="90" height="70" border="0" alt="Brushes"></a></td>
              <td>
                <a href="http://www.theartofshaving.com/razors/razors,default,sc.html?ref=NA&amp;utm_campaign=$campaignname()$&amp;utm_content=NA&amp;utm_source=TAOSeMail&amp;utm_medium=Email&amp;cm_mmc=TAOSeMail-_-$campaignname()$-_-NA-_-FooterNavRazors" rilt="FooterNavRazors"><img style="display: block;" src="images/razors.jpg" width="78" height="70" border="0" alt="Razors"></a></td>
              <td>
                <a href="https://brotherhood.theartofshaving.com/giftguide?ref=NA&amp;utm_campaign=$campaignname()$&amp;utm_content=NA&amp;utm_source=TAOSeMail&amp;utm_medium=Email&amp;cm_mmc=TAOSeMail-_-$campaignname()$-_-NA-_-FooterNavKits" rilt="FooterNavKits"><img style="display: block;" src="images/giftideas.jpg" width="96" height="70" border="0" alt="Gift Ideas"></a></td>
              <td>
                <a href="http://www.theartofshaving.com/grooming-and-skincare/grooming-and-skincare,default,sc.html?ref=NA&amp;utm_campaign=$campaignname()$&amp;utm_content=NA&amp;utm_source=TAOSeMail&amp;utm_medium=Email&amp;cm_mmc=TAOSeMail-_-$campaignname()$-_-NA-_-FooterNavSkincare" rilt="FooterNavSkincare"><img style="display: block;" src="images/grooming.jpg" width="99" height="70" border="0" alt="Grooming"></a></td>
              <td>
                <a href="http://www.theartofshaving.com/travel/travel,default,sc.html?ref=NA&amp;utm_campaign=$campaignname()$&amp;utm_content=NA&amp;utm_source=TAOSeMail&amp;utm_medium=Email&amp;cm_mmc=TAOSeMail-_-$campaignname()$-_-NA-_-FooterNavTravel" rilt="FooterNavTravel"><img style="display: block;" src="images/travel.jpg" width="78" height="70" border="0" alt="Travel"></a></td>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td>
          <table width="600" height="71" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td>
                <table width="600" height="71" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td>
                      <a href="http://www.theartofshaving.com/on/demandware.store/Sites-TAOS-Site/default/Shop-Show?ref=NA&utm_campaign=$campaignname()$&utm_content=NA&utm_source=TAOSeMail&utm_medium=Email&cm_mmc=TAOSeMail-_-$campaignname()$-_-NA-_-Footer4Elements" rilt="Footer4Elements"><img style="display: block;" src="images/4elements.jpg" width="180" height="71" border="0" alt="The 4 Elements of The Perfect Shave"></a></td>
                    <td>
                      <a href="http://retail.theartofshaving.com/retail/locations?ref=NA&utm_campaign=$campaignname()$&utm_content=NA&utm_source=TAOSeMail&utm_medium=Email&cm_mmc=TAOSeMail-_-$campaignname()$-_-NA-_-FooterFindstore" rilt="FooterFindstore"><img style="display: block;" src="images/find-a-store.jpg" width="138" height="71" border="0" alt="Find a Store"></a></td>
                    <td>
                      <a href="http://www.theartofshaving.com/barberspa?ref=NA&utm_campaign=$campaignname()$&utm_content=NA&utm_source=TAOSeMail&utm_medium=Email&cm_mmc=TAOSeMail-_-$campaignname()$-_-NA-_-FooterBarberspa" rilt="FooterBarberspa"><img style="display: block;" src="images/barber-spa.jpg" width="143" height="71" border="0" alt="Barber Spa"></a></td>
                    <td>
                      <a href="http://brotherhood.theartofshaving.com/barbertips?ref=NA&utm_campaign=$campaignname()$&utm_content=NA&utm_source=TAOSeMail&utm_medium=Email&cm_mmc=TAOSeMail-_-$campaignname()$-_-NA-_-FooterBarbertips" rilt="FooterBarbertips"><img style="display: block;" src="images/barber-tips.jpg" width="139" height="71" border="0" alt="Barber Tips"></a></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>

      </tr>

      <tr>
        <td>
          <img src="images/spacer.gif" height="30" width="600" style="display:block; border:0; height:30px; width:600px;">
        </td>
      </tr>

      <tr>
        <td align="center">
          <table width="200" height="32" border="0" cellpadding="0" cellspacing="0" align="center">
            <tr>
              <td align="center">
                <a href="http://facebook.com/theartofshaving" rilt="FooterFacebook"><img style="border:0; text-align:center;" src="images/fb-icon.png" width="32" height="32" alt=""></a>
              </td>
              <td align="center">
                <a href="http://twitter.com/theartofshaving" rilt="FooterTwitter"><img style="border:0; text-align:center;" src="images/tw-icon.png" width="32" height="32" alt=""></a>
              </td>
              <td align="center">
                <a href="http://instagram.com/theartofshaving" rilt="FooterInstagram"><img style="border:0; text-align:center;" src="images/ins-icon.png" width="32" height="32" alt=""></a>
              </td>
              <td align="center">
                <a href="http://youtube.com/theartofshaving" rilt="FooterYoutube"><img style="border:0; text-align:center;" src="images/youtube-icon.png" width="32" height="32" alt=""></a>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td>
          <img src="images/spacer.gif" height="30" width="600" style="display:block; border:0; height:30px; width:600px;">
        </td>
      </tr>


      <tr>
        <td align="center" >
          <span style="text-align:center;font-family: Helvetica, Arial, sans-serif; font-weight: bold; font-size: 20px !important; color: #999; letter-spacing: 1px; -webkit-font-smoothing:antialiased;">Experience The Perfect Shave&#8482;</span>
          <br/>
          <br/>
        </td>
      </tr>


      <tr>
        <td>
          <table width="600" border="0" cellpadding="25" cellspacing="0" align="center" >
            <tr>
              <td align="center">
                <a style="color: #999999; text-decoration: none; font-family: Helvetica, Arial, sans-serif; font-weight: bold; -webkit-font-smoothing:antialiased; font-size: 14px !important;" href="http://www.theartofshaving.com/?ref=NA&utm_campaign=$campaignname()$&utm_content=NA&utm_source=TAOSeMail&utm_medium=Email&cm_mmc=TAOSeMail-_-$campaignname()$-_-NA-_-TheArtofShaving" rilt="TheArtofShaving">www.TheArtofShaving.com</a>
                <span style="color: #999999;"> &nbsp;&nbsp;|&nbsp;&nbsp; </span>
                <a style="color: #999999; text-decoration: none; font-family: Helvetica, Arial, sans-serif; font-weight: bold; -webkit-font-smoothing:antialiased; font-size: 14px !important;" href="http://www.theartofshaving.com/on/demandware.store/Sites-TAOS-Site/default/CustomerService-Show?ref=NA&utm_campaign=$campaignname()$&utm_content=NA&utm_source=TAOSeMail&utm_medium=Email&cm_mmc=TAOSeMail-_-$campaignname()$-_-NA-_-FooterContact" rilt="FooterContact">Contact Us</a>
                <span style="color: #999999;"> &nbsp;&nbsp;|&nbsp;&nbsp; </span>
                <a style="color: #999999; text-decoration: none; font-family: Helvetica, Arial, sans-serif; font-weight: bold; -webkit-font-smoothing:antialiased; font-size: 14px !important;" href="tel:18004932212">1 800 493 2212</a>
                </span>
              </td>
            </tr>
          </table>
        </td>
      </tr>


      <tr>
        <td align="center">
        <center>
                <table width="500" align="center" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center">
                            <div style="margin: 10px 0 50px 0; width: 500px; text-align: left; color: #999999; font-size: 14px !important; font-family: Helvetica, Arial, sans-serif; line-height: 140%;">
                              $cond(empty(lookup(TERMS_CONDITIONS)), nothing(), lookup(TERMS_CONDITIONS))$
                  $cond(empty(lookup(TERMS_CONDITIONS)), nothing(), <br><br>)$
                              To make sure our news and offers are delivered to your inbox, please add news@perfectshave.theartofshaving.com to your email Address Book. If you are unable to see the message above, <a style="color: #999999; text-decoration: underline;" href="$formlink(campaignname())$" rilt="ViewInBrowser">click here</a> to view. Gillette and Fusion are trademarks of The Gillette Company, Boston, Massachusetts used under license by The Art of Shaving. If you no longer wish to receive email communications from The Art of Shaving, you may <a style="color: #999999; text-decoration: underline;" href="https://brotherhood.theartofshaving.com/preferences/member/$lookup(RIID_)$/$securedigestashex(concat(lookup(RIID_),tA0s),MD5)$/unsubscribe" rilt="FooterUnsubscribe">unsubscribe</a> at any time. To change the types of communication you receive from The Art of Shaving please update your <a style="color: #999999; text-decoration: underline;" href="https://brotherhood.theartofshaving.com/preferences/member/$lookup(RIID_)$/$securedigestashex(concat(lookup(RIID_),tA0s),MD5)$" rilt="FooterPreferences">membership preferences</a>.
                            </div>
                        </td>
                    </tr>
                    <tr>
                      <td align="center">
                        <table align="center" width="400">
                          <tr>
                            <td align="center">
                              <span style="color: #999999; font-size:14px !important;">&copy; $todayformat(0, yyyy)$ Procter and Gamble. All rights reserved.</span>
                              <br />
                      <br />
                            </td>
                          </tr>
                          <tr>
                            <td align="center">
                              <a style="font-size: 14px !important; font-family: Helvetica, Arial, sans-serif; color: #999999; text-decoration: none; text-align:center" href="http://www.pg.com/privacy/english/privacy_notice.html" rilt="Privacy">PRIVACY POLICY</a>
                                  <span style="color: #999999;"> &nbsp;&nbsp;|&nbsp;&nbsp; </span>
                                   <a style="font-size: 14px !important; font-family: Helvetica, Arial, sans-serif; color: #999999; text-decoration: none;" href="http://www.theartofshaving.com/on/demandware.store/Sites-TAOS-Site/default/CustomerService-Show?ref=NA&utm_campaign=$campaignname()$&utm_content=NA&utm_source=TAOSeMail&utm_medium=Email&cm_mmc=TAOSeMail-_-$campaignname()$-_-NA-_-FooterContact" rilt="FooterContact">CONTACT US</a>
                            </td>
                          </tr>
                          <tr>
                            <td align="center">
                      <br />
                      <span style="color: #999999; font-size:14px !important;" >KeyID: $externalcampaigncode()$</span>
                      <br />
                      <br />
                      <br />
                      <br />
                      <br />
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                </table>
               </center>
        </td>
      </tr>
      <!-- end : Footer -->
    </table>
  </div>
</body>
</html>
